*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #eee;
  text-align: center
}
iframe {
    border: 0;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}
.chatBox {
    border: 0;
    background: white;
    width: 360px;
    height: 640px;
    margin: 0 auto;
    margin-top: 100px;
}

@media screen and (max-width: 767px) {
    .chatBox {
      width: 100%;
      min-height: 100%;
      margin: 0;
  }
}